/* Uncomment this to make the website unresponsive, and use extra-small columns in the html */
/*body, .container, header, footer, #top {
	min-width: 1130px;
}
.container {
	max-width: 1130px;
}*/

@font-face{
	font-family: "OpenSansSemiBold";
	src: url('fonts/Opensans/OpenSans-SemiBold.ttf');
}

@font-face{
	font-family: "OpenSansRegular";
	src: url('fonts/Opensans/OpenSans-Regular.ttf');
}

@font-face{
	font-family: "OpenSansBold";
	src: url('fonts/Opensans/OpenSans-Bold.ttf');
}


body {
    font-family: 'OpenSansSemiBold';
    font-weight: 400;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow-x: hidden;
    padding-top: 130px;
}
h1, h2, h3, h4, h5, h6 { color: #444; }
/* default font size */
.fa { font-size: 14px; }
.fa-1 { font-size: 20px; }
.fa-2 { font-size: 32px; }
.fa-3 { font-size: 64px; }
.fa-4 { font-size: 112px; }
.fa-5 { font-size: 192px; }
.fa-6 { font-size: 320px; }
/* Override the bootstrap defaults */
h1 { font-size: 33px; }
h2 { font-size: 27px; }
h3 { font-size: 21px; }
h4 { font-size: 15px; }
h5 { font-size: 12px; }
h6 { font-size: 10.2px; }
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
input[type=checkbox] {
	top: 3px;
    position: relative;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
    background-color: #272727;
    border-bottom: 5px solid #75b743;
    padding: 5px 0px 3px 0;
    margin: 0 0 0px 0;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #fff;
	text-decoration: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #75b743;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
	color: #333;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
	width: 100%;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #ffffff;
	min-height: 40px;
	margin: 0;
	padding: 15px 0 0 0;
}
#menu .nav > li > a {
	color: #333333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	min-height: 15px;
	background-color: transparent;
	padding: 0;
}
#menu .nav > li{
	padding: 10px 15px 10px 15px;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #6fa049;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover > .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
.ms-slide-title{
	display: none !important;
}
button.btn-navbar{
	background-image: linear-gradient(to bottom, #6fa049, #6fa049) !important;
	background-color: #6fa049 !important;
}
.search:after{
	content: url('banners/general/search.png');
	cursor: pointer;
}

.cart:after{
	content: url('banners/general/cart.png');
	cursor: pointer;
}

.search_cart_div{
	float: right !important;
}
.ms-slide-desc{
	text-align: left !important;
	color: #003e6c !important;
	font-family: "OpenSansRegular";
	font-size: 42px !important;
}
.ms-slide-desc h1{
	color: inherit !important;
	font-size: inherit !important;
}
.ms-caption{
	width: 600px !important;
    left: 55% !important;
    top: 100px !important;
}
.btn_green{
	background-color: #75b743;
    color: #ffffff;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    border: 0px;
    width: 150px;
    font-size: 14px;
}
.btn_update{
	background-color: #75b743 !important;
    background-image: none !important;
    border-color: #75b743 !important;
}
.btn_delete{
	background-color: #252525 !important;
    background-image: none !important;
    border-color: #252525 !important;
}
#menu .nav > li > a.active{
	border-bottom: #75b743 5px solid;

}
.breadcrumb{
	display: none;
}
header{
	position: fixed;
    z-index: 200;
    width: 100%;
    top: 49px;
    background-color: #ffffff;
}
#top{
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0px;
}
/* Banners */

#about_banner{
	background: url('banners/about/banner.jpg') center center no-repeat;
}

#contact_banner{
	background: url('banners/contact/banner.jpg') center center no-repeat;
}
.banners img{
	min-height: 255px;
	text-align: center;
}
.banner_description{
	position: relative;
}
.common_banners h1, .banners h1.banner_description{
    color: #ffffff;
    font-size: 60px;
    font-family: "OpenSansRegular";
    position: relative;
    top: -3em;
}
.banner_navigation{
	text-align: center;
}
.banner_navigation button, button.btn_common, .bnews-list .artblock .blog-button button{
	width: 200px;
    height: 50px;
    border-radius: 20px;
    border: #f3f3f3 1px solid;
    background-color: #ffffff;
    color: #363636;
    font-size: 14px;
    margin-bottom: 2%;
}
.banner_navigation button.active, .banner_navigation button:hover, .banner_navigation button:active, button.btn_common:active, button.btn_common:focus, button.btn_common:active, button.btn_common:hover, .bnews-list .artblock .blog-button button{
    border: #75b743 1px solid;
    background-color: #ffffff;
    color: #75b743;
    margin-bottom: 2%;
}
/* Banners */
.page_wrapper{
	padding: 0px;
	width: 100%;
}
#geocode_col iframe{
	width: 100% !important;
	padding-top: 2%;
}
.green_labels{
	color: #75b743 !important;
	font-family: "OpenSansRegular";
	font-weight: bold;
}
.information-contact form{
    border: #ebebeb 1px solid;
    padding: 25px 25px 50px 25px;
}
.information-contact form input, .information-contact form textarea, .information-information form input, .information-information form textarea{
	border-radius: 15px;
	min-height: 40px;
}
.information-contact .panel-heading{
	cursor: pointer;
}
.information-contact form a, .information-contact .panel-heading .panel-title, .information-information .panel-heading .panel-title{
	color: #272727 !important;
	font-weight: bold;
	font-family: "OpenSansBold";
	font-size: 15px;
}
.information-contact .panel-group .panel-heading{
    border-bottom: #ebebeb 1px solid;
}
.information-contact, .information-information, .checkout-cart, .news-ncategory, .news-article{
	background: url('banners/contact/contact_bg.png') center center repeat;
}
form label{
	color: #3d3d3d;
	font-size: 15px;
	font-family: "OpenSansBold";
	font-weight: bolder;
}
.information-contact .panel-heading .panel-title span, .information-information .panel-heading .panel-title span{
	position: relative;
    top: -7px;
    color: #75b743;
}
.form-horizontal .control-label{
	text-align: left;
	padding-right: 0px;
}
.address_col{
    margin-bottom: 10px;
}
.accordion{
	margin-bottom: 10px !important;
}
#attachment_col{
    min-height: 40px;
    padding-top: 10px;
    background-color: #f3f3f3;
    color: #393939;
    position: relative;
    left: -33px;
}
#attachment_col input{
	color: inherit;
}
#attachment_label{
	color: #333333;
	font-size: 14px;
}
.information_title{
	color: #103361;
	margin-bottom: 10%;
}
.hr_col{
	padding-top: 20px;
}

.information_title:: last-word{
	color: #69b923;
}

.boxes > div{
	background: #ebebeb;
    height: 130px;
    border-radius: 35px;
    border: #cccccc 1px solid;
    margin-bottom: 15px;
    padding: 8%;
}

.owl-wrapper-outer{
	border: 0px !important;
	box-shadow: none !important;
}
#about_carousel a{
	color: #000000 !important;
}
#certifications span.active{
	border-bottom: #7e9b19 2px solid;
}
#company_timeline{
	background: url('banners/about/company profile/line.png') center center no-repeat;
    min-height: 350px;
}
#company_timeline img{
	max-width: 100%;
}
#company_timeline .owl-wrapper-outer{
	min-height: inherit !important;
	padding-top: 75px !important;
}
#company_timeline .down{
	position: relative;
    bottom: -135px;
}
#company_timeline .up{
	position: relative;
    top: 35px;
}
.timeline span.title{
    position: absolute;
    top: 24%;
    left: 20%;
    color: #ffffff;
    font-size: 100%;
}
.timeline span.description p{
	position: absolute;
	left: -10%;
    color: #000000;
    font-size: 100%;
}
.timeline.up span.description p{
	top: 100px;
}
.timeline.down span.description p{
	top: -100px;
}
.left-arrow:before{
	content: url('banners/about/company profile/left-arrow.png');
}
.right-arrow:before{
	content: url('banners/about/company profile/right-arrow.png');
}
.owl-carousel:hover .owl-buttons div{
	opacity: 1 !important;
}
#company_clients_logo div > img{
	box-shadow: #c1c1c1 0px 0px 9px 3px;
    margin-bottom: 10px;
}
#company_timeline .owl-pagination{
	top: -40px !important;
}
.about_us_section_title{
	font-size: 18px;
	color: #000000;
}
.author{
	color: #7ac241;
}
.testimonials{
	margin-top: 20px;
}
.date_added{
	color: #003e6c;
	font-style: italic;
}
.bnews-list .artblock .name a, .news-ncategory .name a{
	color: #7ac241 !important;
}
#categories ul{
	list-style: none;
	padding-left: 0; 
    padding-right: 15px;
}
#categories ul li.main_categories{
	padding-left: 5px;
	border-bottom: #e5e5e5 2px solid;
	background: url('banners/product/dash.png') center right no-repeat;
	cursor: pointer;
	margin-top: 10px;
	padding-bottom: 5px;
}
li.sub_categories{
	padding-left: 5px;
}
#categories ul li.main_categories a{
	color: #000000 !important;
	font-size: 14px;
	font-family: "OpenSansBold";
}
#categories ul li.sub_categories a{
	font-family: "OpenSansRegular";
	color: #000000 !important;
	font-size: 14px;
}
.thumbnail{
	border: 0px !important;
}
.thumbnails h2{
	padding-left: 0px;
}
#description_tab{
	padding-top: 55px;
}
.price{
	color: #7ac241;
}
.inner_quantity{
    width: 150px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    font-size: 14px;
    font-family: "OpenSansBold";
}
#description_p{
    min-height: 200px;
}
#tab-specification p, #description_p p span{
	color: #363636;
	font-family: "OpenSansRegular" !important;
}
#description_p p span{
	line-height: 30px;
}
.total{
	color: #7ac241;
}
.checkout-cart table tbody tr td{
	border: 0px;
}
.checkout-cart table a{
	color: #272727;
	font-size: 15px;
}
.img-thumbnail{
	border: 0px;
}
.quickcheckout-heading, .quickcheckout-content a.agree{
	color: #7ac241 !important;
}
.quickcheckout-cart td.name a{
	color: #4d4d4d !important;
}
#home_background{
	background: url('banners/home/bg.jpg') top center no-repeat;
	min-height: 500px;
}
#home_background .product-thumb{
	background-color: #ffffff;
	border: #f0f0f0 2px solid;
}
#home_background .caption{
	height: 180px;
    overflow-y: hidden;
}
#home_background .product-thumb .price{
	color: #003e6c;
	font-size: 16px;
	font-weight: bolder;
}
#home_background .product-thumb h4 a{
	color: #000000;
}
#home_news{
	background: url('banners/home/news/bg.jpg') center center no-repeat;
	min-height: 659px;
    padding-top: 2%;
}
#home_news .caption{
    background-color: #ffffff;
    min-height: 100px;
    border: #c1cab4 1px solid;
    padding: 5px 15px 5px 15px;
}
#home_news .caption h4{
	color: #75b743;
    border-bottom: #e8e8e8 2px solid;
    height: 30px;
}
#home_news .caption p{
	color: #333333;	
}
#home_news button#view_more{
	background-color: #003e6c;
    height: 45px;
    width: 160px;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
}
#home_news .home_news{
	margin-bottom: 15px;
}
#home_news img{
	max-width: 100%;
}
#home_news .hr_col hr{
	border-color: #75b743;
}

#register_or_login{
	width: 200px;
    height: 30px;
    border-right: 1px solid;
    border-left: 1px solid;
    text-align: center;
    padding-top: 5px;
    float: right;
}
.bnews-list .artblock .blog-button{
	text-align: center !important;
}
.bnews-list{
	padding: 5px 30px 5px 30px;
}
.bnews-list .artblock{
	display: block;
    padding: 0px !important;
    clear: left;
    border: #e1e1e1 1px solid;
    margin-bottom: 20px;
    position: relative;
}
.bnews-list .artblock .caption{
	padding: 5px 20px 5px 20px;
}
.bnews-list .artblock .date, .article-title .date{
	background-color: #7ac241;
    width: 60px;
    height: 60px;
    padding: 10px 10px 5px 10px;
    color: #ffffff;
    border-radius: 100%;
    font-size: 15px;
    border: #599e23 1px solid;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;

}
.article-meta{
	display: none !important;
}
.article-content p, .article-title{
	padding-left: 5%;
    padding-right: 5%;
}
.article-content img{
    max-width: 100% !important;
    height: 450px !important;
    width: 1127px !important;
}
.article-title h1{
 	color: #7ac241;
    font-family: "OpenSansRegular";
    padding-left: 66px;
    font-size: 25px;
    position: relative;
    top: -5px;

}
.article-content p{
	padding-top: 2px;
}
#backtoblogs{
    position: relative;
    left: -38px;
    color: #7ac241;
    font-size: 15px;
    cursor: pointer;
    font-family: "OpenSansSemiBold";
}
.bnews-list .artblock .description{
	max-height: 80px;
    overflow-y: hidden;
}
.information-information .panel-primary{
	border-color: #cccccc !important;
    border-radius: 10px;
}
.information-information .panel-heading{
	text-align: center !important;
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
    height: 45px;
   	font-size: 18px;
}
.information-information.iid-12 .panel-body{
	padding: 0px;
	overflow-x: auto;
}
table#services thead tr.headers th{
	background-color: #7ac241 !important;
	color: #333333 !important;
	font-size: 14px !important;
	font-weight: bolder !important;
	border: #909090 1px solid;
	font-family: "OpenSansBold";
	height: 80px;
    text-align: center;
}
table#services tbody tr td{
	height: 80px;
	text-align: center;
    padding-top: 25px;
}
table#services tbody tr td.highlights{
	background: rgba(122,194,65, 0.5);
}
table#services thead th span{
	position: relative;
    top: -40%;
}
#information_services #banner1{
	margin-top: 20px;
}
#information_services #banner1 img{
	min-height: 100px !important;
}
#information_services #banner1 h1.banner_description{
	font-size: 35px !important;
}
#information_services .owl-pagination{
	display: none !important;
}
.services_button{
    height: 50px;
    border-radius: 20px;
    border: #7ac241 1px solid;
    width: 120px;
    background-color: #ffffff;
    color: #333333;
}
.services_button.price{
	background-color: #7ac241;
	color: #ffffff;
}
#information_services p{
    line-height: 25px;
}
#information_services h1 span{
    font-family: "OpenSansBold";
    font-size: 23px;
}
#information_services{
	padding-bottom: 200px;
}
#product_page_categories label{
	background-color: #ffffff;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    border: #ebebeb 1px solid;
    cursor: pointer;
    min-width: 225px;
    margin-bottom: 10px;
}
#product_page_categories label.active{
	color: #7ac241;
	border-color: #7ac241;
}
#product_page_categories{
	text-align: center;
}
#product_page_content #right_column{
    padding-left: 5%;
    min-height: 361px;
}
#product_page_content h1 span{
	color: #7ac241;
    font-size: 24px;
    font-family: "OpenSansRegular";
    font-weight: bold;
}
#product_page_content p{
	font-family: "OpenSansRegular";
    font-size: 14px;
    line-height: 25px;
}
#btn_product_page{
	width: 130px;
    height: 50px;
    border-radius: 20px;
    border: #7ac241 1px solid;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    margin-bottom: 2%;
}
#product_page_content div.hr{
	padding-bottom: 50px;
    border-bottom: #e5e5e5 1px solid;
    margin-bottom: 20px;
}
img.image-responsive{
	max-width: 100%;
}
#product_page_content #carousel_products img{
	width: 100%;
    height: 170px;
}
#product_page_content #carousel_products .owl-pagination{
	display: none;
}
.center-align{
	text-align: center;
}
#carousel_products{
	font-family: "OpenSansBold";
}
#carousel_products .title{
	color: #363636;
	font-size: 14px;
	font-family: inherit;
}
#carousel_products .description{
	padding: 5px 17px 5px 17px;
	color: #7d7d7d;
	font-family: "OpenSansSemiBold";
}
#benefits_row{
	min-height: 240px;
	background-color: #ebebeb;
	margin-bottom: 50px;
	border: #cccccc 1px solid;
	padding: 30px;
}
#benefits_title{
	font-size: 18px;
	font-family: "OpenSansBold";
	color: #000000;
}
.information-product #content{
	margin-bottom: 150px;
}
/* end of content */

/* footer */
footer {
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #dadada;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #75b743;
}
footer .socials a {
	border-radius: 50%;
    background: #000;
    color: #dadada;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
footer #firstcom_url{
	color: #146faf !important;
}
footer .socials a i { vertical-align: middle; font-size: 20px; }
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 0px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	color: #363636;
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 60px;
	text-align: center;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
	padding-left: 5%;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 100px;
}
.thumbnail a>img, .thumbnail>img{
	margin-left: 0 !important;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 19px;
    position: relative;
    top: -20px;
}
.thumbnails .image-additional:first-child{
	margin-left: 20%;
}
.checkbox-inline, .radio-inline { position: relative; }

/* Placeholder Stylesheet */
::-webkit-input-placeholder { color: inherit; }
:-moz-placeholder { color: inherit; }
::-moz-placeholder { color: inherit; }
:-ms-input-placeholder { color: inherit; }

/* Navbar with N-level dropdown menu*/
/**
<ul class="nav navbar-nav">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">PARENT</a>
		<div class="dropdown-menu">
        	<div class="dropdown-inner">
        		<ul class="list-unstyled">
        			<li class="dropdown-submenu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">CHILD</a>
						<div class="dropdown-menu">
        					<div class="dropdown-inner">
        					</div>
        				</div>
        			</li>
        		</ul>
        	</div>
        </div>
	</li>
</ul>
**/
.dropdown-submenu { position: relative; } 
.dropdown-submenu:after {
	position: absolute;
    right: 8px;
    top: 0;
    content: '\f0da';
    font-family: FontAwesome;
    height: 100%;
    vertical-align: middle;
    line-height: 28px;
    font-size: 14px;
    color: inherit;
}
.dropdown-submenu:hover:after { color: #fff; }
@media (max-width: 768px) {
	.dropdown-submenu:after { content: '\f0d7'; }
}
.dropdown-submenu > .dropdown-menu { 
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu { display: block; }
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu.pull-left { float:none; } 
.dropdown-submenu.pull-left > .dropdown-menu { 
	left: -100%;
	margin-left: 10px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

.clear { clear: both; }
:focus { outline: none !important; }

/* Default Breakpoint */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.search_cart_div{
		float: left !important;
	}
	.ms-slide-desc{
		font-size: 20px !important;
	}
	.ms-caption{
		top: 5% !important;
	}
	.btn_green{
		height: 30px !important;
		font-size: 14px !important;
	}
	#menu{
		padding: 5px 0 0 0 !important;
	}
	.common_banners{
	    min-height: 255px;
    	padding-top: 100px;
	    text-align: center;
	    width: 100%;
	}
	.common_banners h1{
		font-size: 40px;
	}

	#home_background img{
		max-width: 100% !important;
	}

	@media only screen and (max-height: 650px){
		body{
		    padding-top: 200px !important;
		}

	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.common_banners{
	    min-height: 255px;
    	padding-top: 150px;
	    text-align: center;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.ms-slide-desc{
		font-size: 14px !important;
	}
	.ms-caption{
		top: -5px !important;
	}
	.btn_green{
		height: 25px !important;
		width: 100px !important;
		font-size: 14px !important;
	}
	footer .pull-right{
		float: left !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 360px) {
	.ms-slide-desc{
		font-size: 14px !important;
	}
	.ms-caption{
		top: -15px !important;
	}
	.btn_green{
		height: 25px !important;
		width: 100px !important;
		font-size: 14px !important;
	}

}

@media only screen and (max-height : 360px) {
	@media only screen and (max-width : 700px) {
		#menu .nav.navbar-nav{
			    height: 200px;
			    overflow-y: scroll;
		}
	}
	
}

